# DATABASE
POSTGRES_DB=perfumly_db
POSTGRES_USER=perfumly_user
# openssl rand -base64 32 | tr -dc 'A-Za-z0-9' | head -c 32
POSTGRES_PASSWORD=changeme

# REDIS
# openssl rand -base64 32 | tr -dc 'A-Za-z0-9' | head -c 32
REDIS_PASSWORD=changeme